<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password generator 2000</title>
</head>
<body>
    <h1>Choose password parameters</h1>
    <form action="{% url 'password' %}" method="post">     
       
        <select name="length" id="Length" required>
            <option value="" selected disabled>Length</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
        </select>

        <input type="checkbox" id="Upper" name="upper">
        <label for="Upper"> Upper case</label>

        <input type="checkbox" id="Numbers" name="numbers">
        <label for="Numbers"> Numbers</label>

        <input type="checkbox" id="Special" name="special">
        <label for="Special"> Special characters</label>

        {% csrf_token %}
        <button type="Submit">Generate</button>
        
    </form>
</body>
</html>